
.kraken-tw:before { content: '\e800'; } /* '' */
.kraken-fb:before { content: '\e801'; } /* '' */
.kraken-ig:before { content: '\e802'; } /* '' */
.kraken-ok:before { content: '\e803'; } /* '' */
.kraken-vk:before { content: '\e804'; } /* '' */