@font-face {
  font-family: bebas;
  src: url(font/bebas.ttf);
}
.base {
  width: 970px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.slider {
  width: 650px;
  float: left;
  margin-left: 40px;
  height: 390px;
}
.next-to-slider{
  height: 300px;
  float: right;
  margin-right: 40px;
}
.kraken {
  text-align: right;
}
.icons .block {
  width: 320px;
  height: 100px;
  margin: 0;
  padding: 0;
  display: inline;
}
ul.navbar-nav li a{
  font-family: bebas;
  font-size: 16px;
}
.socials {
  padding-right: 209px;
  padding-top: 7px;
}
